body
	.catalogosDetalle 
		display table
		width  90%
		border-collapse collapse
		
		.cabecera
			font-weight bold
			display table-row
			background #C91622
			text-align center
			line-height 25px
			font-size 14px
			font-family georgia
			color #fff
			.columna
				background green
				display table-cell
				border 1px solid #CCC
		.filas
			background yellow
			display table-row
			text-align left
			.columna
				display table-cell
				border 1px solid #CCc
				input
					width 98%
					margin-left 1px
				.noeditable
					border 2px solid #BDC3C7
					border-radius 6px
					box-shadow none
					color #95a5a6
					font-family Lato,Helvetica,Arial,sans-serif
					font-size 15px
					line-height 1.467
				.editable
					border 1px solid #BDC3C7
					border-radius 6px
					border-color: #2ECC71
					box-shadow none
					color #34495e
					font-family Lato,Helvetica,Arial,sans-serif
					font-size: 15px;
					line-height 1.467